:root {
  ---green: #00d09c;
  --alternate-headin: #f4e8ed;
  ---secondary: #5367ff;
  ---secondary-light: #98a4ff;
  --table-bg: #eef0ff;
  --subtext: #7c7e8c;
  --text-color: #44475b;
  ---red: #eb5b3c;
  --boxShadow: rgba(0, 0, 0, 0.1);
  --white: white;
}
